$background-color: #F3F5FA;
$active-green: #68DB3B;
$inactive-grey: #717378;
$row-grey: #454545;
$table-header: #FAFCFF;
$brand-blue: #2A32ED;
$brand-red: #ED2A2A;
$base-text: #333333;
$table-title: #2A2A2A;
$default-white: #ffffff;

$font-family-base: 'Montserrat', sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-lg: 18px;
$line-height-base: 1.5;
